body {
    display: block;
    overflow-x: hidden;
}
nav {
    background-color: #dec8ff;
}
.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
}
nav ul li a {
    color: #494949;
    font-size: 22px;
    margin: auto 10px;
}
nav ul li a:hover {
    color: #683aa4;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}
section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
    text-align: left;
    margin-bottom: 20px;
}
section p {
    font-size: 16px;
    font-weight: 300;
}
button {
    max-width: 50%;
    border-radius: 50px !important;
}

#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}
#hero .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}
#hero img {
    max-width: 130% !important;
    width: 130%;
}
#hero .card {
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}
#hero .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

#projects .projects {
    margin-bottom: 50px;
}

#contact {
    text-align: center;
    background-color: #683aa4;
    color: white;
}
#contact h1 {
    text-align: center;
    color: white;
}

input[type="number"] {
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px !important;
    border: 2px solid #683aa4;
    font-size: 12px;
    color: #2a2a2a;
    background-color: #f8f9fa;

}
input[type="submit"] {
    width: 150px;
    height: 50px;
    max-width: 50%;
    border-radius: 50px !important;
    color: #595959;
    background-color: #dec8ff;
    font-size: 15px;
}